@import '../../../variable.scss';

div.type-name {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: white;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: $first-break-point) {
  div.type-name {
    font-size: $first-logo-height;
  }
}

@media screen and (min-width: $second-break-point) {
  div.type-name {
    font-size: $second-logo-height;
  }
}

@media screen and (min-width: $third-break-point) {
  div.type-name {
    font-size: $third-logo-height;
  }
}

@media screen and (min-width: $fourth-break-point) {
  div.type-name {
    font-size: $fourth-logo-height;
  }
}

@media screen and (min-width: $fifth-break-point) {
  div.type-name {
    font-size: $fifth-logo-height;
  }
}