@import url('https://fonts.googleapis.com/css?family=Roboto:900');

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(51, 51, 51);
  margin: 0;
}

.download {
  display: none;
}