/* break points for interactive design */
$first-break-point: 1690px;
$second-break-point: 1280px;
$third-break-point: 980px;
$fourth-break-point: 736px;
$fifth-break-point: 480px;

/* interactive logo size */
$first-logo-height: 20px;
$second-logo-height: 30px;
$third-logo-height: 40px;
$fourth-logo-height: 45px;
$fifth-logo-height: 50px;